--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8 (Debian 16.8-1.pgdg120+1)
-- Dumped by pg_dump version 16.8 (Debian 16.8-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: elo_history; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.elo_history (
    id integer NOT NULL,
    player_id integer,
    game_id integer,
    old_elo integer NOT NULL,
    new_elo integer NOT NULL,
    change integer NOT NULL,
    "timestamp" timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.elo_history OWNER TO wizard;

--
-- Name: elo_history_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.elo_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.elo_history_id_seq OWNER TO wizard;

--
-- Name: elo_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.elo_history_id_seq OWNED BY public.elo_history.id;


--
-- Name: game_sessions; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.game_sessions (
    id integer NOT NULL,
    code character varying(10) NOT NULL,
    game_id integer,
    status character varying(20) DEFAULT 'active'::character varying,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.game_sessions OWNER TO wizard;

--
-- Name: game_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.game_sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.game_sessions_id_seq OWNER TO wizard;

--
-- Name: game_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.game_sessions_id_seq OWNED BY public.game_sessions.id;


--
-- Name: games; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.games (
    id integer NOT NULL,
    date timestamp with time zone NOT NULL,
    players jsonb NOT NULL,
    winner integer,
    scores jsonb NOT NULL,
    rounds jsonb NOT NULL,
    duration integer,
    mode character varying(20) DEFAULT 'Ranked'::character varying,
    CONSTRAINT games_mode_check CHECK (((mode)::text = ANY ((ARRAY['Casual'::character varying, 'Ranked'::character varying])::text[])))
);


ALTER TABLE public.games OWNER TO wizard;

--
-- Name: games_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.games_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.games_id_seq OWNER TO wizard;

--
-- Name: games_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.games_id_seq OWNED BY public.games.id;


--
-- Name: invitations; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.invitations (
    id integer NOT NULL,
    player_id integer NOT NULL,
    game_session_id integer NOT NULL,
    sender_id integer NOT NULL,
    status character varying(50) DEFAULT 'pending'::character varying,
    mode character varying(50) DEFAULT 'Casual'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.invitations OWNER TO wizard;

--
-- Name: invitations_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.invitations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invitations_id_seq OWNER TO wizard;

--
-- Name: invitations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.invitations_id_seq OWNED BY public.invitations.id;


--
-- Name: leaderboard; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.leaderboard (
    id integer NOT NULL,
    category character varying(50) NOT NULL,
    rankings jsonb NOT NULL
);


ALTER TABLE public.leaderboard OWNER TO wizard;

--
-- Name: leaderboard_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.leaderboard_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.leaderboard_id_seq OWNER TO wizard;

--
-- Name: leaderboard_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.leaderboard_id_seq OWNED BY public.leaderboard.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    filename character varying(255) NOT NULL,
    applied_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.migrations OWNER TO wizard;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.migrations_id_seq OWNER TO wizard;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: player_tags; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.player_tags (
    player_id integer NOT NULL,
    tag_id integer NOT NULL
);


ALTER TABLE public.player_tags OWNER TO wizard;

--
-- Name: players; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.players (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    avatar text,
    elo integer DEFAULT 1000,
    win_rate double precision DEFAULT 0,
    total_games integer DEFAULT 0
);


ALTER TABLE public.players OWNER TO wizard;

--
-- Name: players_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.players_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.players_id_seq OWNER TO wizard;

--
-- Name: players_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.players_id_seq OWNED BY public.players.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.roles OWNER TO wizard;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.roles_id_seq OWNER TO wizard;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: rounds; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.rounds (
    id integer NOT NULL,
    game_id integer,
    round_number integer NOT NULL,
    cards integer NOT NULL,
    players jsonb NOT NULL
);


ALTER TABLE public.rounds OWNER TO wizard;

--
-- Name: rounds_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.rounds_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rounds_id_seq OWNER TO wizard;

--
-- Name: rounds_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.rounds_id_seq OWNED BY public.rounds.id;


--
-- Name: tags; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.tags (
    id integer NOT NULL,
    name character varying(50) NOT NULL
);


ALTER TABLE public.tags OWNER TO wizard;

--
-- Name: tags_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.tags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tags_id_seq OWNER TO wizard;

--
-- Name: tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.tags_id_seq OWNED BY public.tags.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: wizard
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying(50) NOT NULL,
    password_hash text NOT NULL,
    role_id integer NOT NULL,
    player_id integer,
    email character varying(255)
);


ALTER TABLE public.users OWNER TO wizard;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: wizard
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO wizard;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: wizard
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: elo_history id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.elo_history ALTER COLUMN id SET DEFAULT nextval('public.elo_history_id_seq'::regclass);


--
-- Name: game_sessions id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.game_sessions ALTER COLUMN id SET DEFAULT nextval('public.game_sessions_id_seq'::regclass);


--
-- Name: games id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.games ALTER COLUMN id SET DEFAULT nextval('public.games_id_seq'::regclass);


--
-- Name: invitations id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.invitations ALTER COLUMN id SET DEFAULT nextval('public.invitations_id_seq'::regclass);


--
-- Name: leaderboard id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.leaderboard ALTER COLUMN id SET DEFAULT nextval('public.leaderboard_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: players id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.players ALTER COLUMN id SET DEFAULT nextval('public.players_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: rounds id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.rounds ALTER COLUMN id SET DEFAULT nextval('public.rounds_id_seq'::regclass);


--
-- Name: tags id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.tags ALTER COLUMN id SET DEFAULT nextval('public.tags_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: elo_history; Type: TABLE DATA; Schema: public; Owner: wizard
--



--
-- Data for Name: game_sessions; Type: TABLE DATA; Schema: public; Owner: wizard
--



--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: wizard
--



--
-- Data for Name: invitations; Type: TABLE DATA; Schema: public; Owner: wizard
--

COPY public.invitations (id, player_id, game_session_id, sender_id, status, mode, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: leaderboard; Type: TABLE DATA; Schema: public; Owner: wizard
--

COPY public.leaderboard (id, category, rankings) FROM stdin;
1	all-time	[{"elo": 1200, "name": "Bob", "player_id": 2}, {"elo": 1150, "name": "Diana", "player_id": 4}]
2	weekly	[{"elo": 1100, "name": "Alice", "player_id": 1}, {"elo": 1050, "name": "Charlie", "player_id": 3}]
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: wizard
--

COPY public.migrations (id, filename, applied_at) FROM stdin;
1	02_invitations.sql	2025-05-14 22:54:37.344388
\.


--
-- Data for Name: player_tags; Type: TABLE DATA; Schema: public; Owner: wizard
--

COPY public.player_tags (player_id, tag_id) FROM stdin;
5	4
5	6
5	9
\.


--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: wizard
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: wizard
--

COPY public.roles (id, name) FROM stdin;
1	user
2	moderator
3	admin
\.


--
-- Data for Name: rounds; Type: TABLE DATA; Schema: public; Owner: wizard
--

COPY public.rounds (id, game_id, round_number, cards, players) FROM stdin;
1	1	1	3	[{"made": 2, "called": 2, "player_id": 1}, {"made": 2, "called": 3, "player_id": 2}, {"made": 1, "called": 1, "player_id": 3}, {"made": 2, "called": 2, "player_id": 4}]
2	1	2	4	[{"made": 1, "called": 1, "player_id": 1}, {"made": 2, "called": 2, "player_id": 2}, {"made": 1, "called": 1, "player_id": 3}, {"made": 3, "called": 2, "player_id": 4}]
\.


--
-- Data for Name: tags; Type: TABLE DATA; Schema: public; Owner: wizard
--

COPY public.tags (id, name) FROM stdin;
1	Top 1
2	Top 5
3	Top 10
4	Wizard
5	Casual
6	Ranked
7	Friends
8	Family
9	GI
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: wizard
--



--
-- Name: elo_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.elo_history_id_seq', 243, true);


--
-- Name: game_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.game_sessions_id_seq', 178, true);


--
-- Name: games_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.games_id_seq', 986, true);


--
-- Name: invitations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.invitations_id_seq', 1, false);


--
-- Name: leaderboard_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.leaderboard_id_seq', 2, true);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.migrations_id_seq', 1, true);


--
-- Name: players_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.players_id_seq', 109, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: rounds_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.rounds_id_seq', 2, true);


--
-- Name: tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.tags_id_seq', 9, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: wizard
--

SELECT pg_catalog.setval('public.users_id_seq', 105, true);


--
-- Name: elo_history elo_history_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.elo_history
    ADD CONSTRAINT elo_history_pkey PRIMARY KEY (id);


--
-- Name: game_sessions game_sessions_code_key; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_code_key UNIQUE (code);


--
-- Name: game_sessions game_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_pkey PRIMARY KEY (id);


--
-- Name: invitations invitations_player_id_game_session_id_key; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_player_id_game_session_id_key UNIQUE (player_id, game_session_id);


--
-- Name: leaderboard leaderboard_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.leaderboard
    ADD CONSTRAINT leaderboard_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_filename_key; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_filename_key UNIQUE (filename);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: player_tags player_tags_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.player_tags
    ADD CONSTRAINT player_tags_pkey PRIMARY KEY (player_id, tag_id);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (id);


--
-- Name: roles roles_name_key; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_key UNIQUE (name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: rounds rounds_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.rounds
    ADD CONSTRAINT rounds_pkey PRIMARY KEY (id);


--
-- Name: tags tags_name_key; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_name_key UNIQUE (name);


--
-- Name: tags tags_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT tags_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: elo_history elo_history_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.elo_history
    ADD CONSTRAINT elo_history_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: elo_history elo_history_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.elo_history
    ADD CONSTRAINT elo_history_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id);


--
-- Name: game_sessions game_sessions_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.game_sessions
    ADD CONSTRAINT game_sessions_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id);


--
-- Name: games games_winner_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_winner_fkey FOREIGN KEY (winner) REFERENCES public.players(id);


--
-- Name: invitations invitations_game_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_game_session_id_fkey FOREIGN KEY (game_session_id) REFERENCES public.game_sessions(id);


--
-- Name: invitations invitations_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id);


--
-- Name: invitations invitations_sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.invitations
    ADD CONSTRAINT invitations_sender_id_fkey FOREIGN KEY (sender_id) REFERENCES public.players(id);


--
-- Name: player_tags player_tags_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.player_tags
    ADD CONSTRAINT player_tags_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id) ON DELETE CASCADE;


--
-- Name: player_tags player_tags_tag_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.player_tags
    ADD CONSTRAINT player_tags_tag_id_fkey FOREIGN KEY (tag_id) REFERENCES public.tags(id) ON DELETE CASCADE;


--
-- Name: rounds rounds_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.rounds
    ADD CONSTRAINT rounds_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id) ON DELETE CASCADE;


--
-- Name: users users_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id) ON DELETE SET NULL;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: wizard
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

