version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - DATABASE_URL=postgres://wizard:geheim@db:5432/wizard_db
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: wizard
      POSTGRES_PASSWORD: geheim
      POSTGRES_DB: wizard_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
