/* Styling for Tablets*/ 
@media (orientation: landscape) {
    
    /* Custom scrollbar styling for webkit browsers */
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 3px;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 3px;
    }

    /* Game Details*/
    .game-summary {
        gap: var(--spacing-md);
    }

    .scorecard-table {
        width: 100%;
        table-layout: fixed; /* Force equal column widths */
        border-collapse: separate;
        border-spacing: 0;
    }

    .scorecard-table th,
    .scorecard-table td {
        padding-top: var(--spacing-xs);
        padding-bottom: var(--spacing-xs);
    }

    .scorecard-table th:first-child,
    .scorecard-table td:first-child {
        width: 15%; /* Reduce as needed */
        min-width: 50px;
        max-width: 100px;
    }

    .player-header {
        justify-content: center;
        align-items: center;
        justify-self: center;
    }

    .player-header-name {
        justify-self: center;
        font-size: 1.2rem;
    }

    .round-number {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .results-row .rank-col {
        flex: 0 0 15%;
        font-weight: bold;
    }

    .results-row .player-col {
        flex: 1 1 35%;
    }

    .results-row .score-col {
        flex: 0 0 10%;
    }

    .results-row .adv-stats-btn {
        flex: 0 0 40%;
    }

    .main-container {
        align-items: center;
    }

    #game-performance {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* grid-template-columns: 1fr 1fr; */
    }

    #game-performance p{
        width: 100%;
    }

    .stat-row {
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    }

    /* Home */
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .home-header {
        width: 100%;
        margin-bottom: var(--spacing-lg);
    }

    .recent-games {
        width: 100%;
        padding: var(--spacing-md);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow);
        height: 100%;
    }

    .results-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    .results-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .game-card {
        flex: 1;
        min-width: 300px;
        max-width: 350px;
        padding: var(--spacing-sm);
        border-radius: var(--radius-lg);
        box-shadow: var(--shadow);
        height: 100%;
        margin-bottom: var(--spacing-xs);
    }

    .actions-game-history {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-xs);
    }

    .game-details {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .game-info {
        font-size: 0.9rem;
    }

    .game-history {
        height: 100%;
        flex-direction: row;
    }

    /* Settings */
    .games-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--spacing-md);
        justify-content: center;
        width: 100%;
    }

    .games-list > * {
        flex: 1 1 45%;
    }

    .paused-games-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        max-height: 400px;
        gap: var(--spacing-md);
        width: 100%;
    }
    .paused-games-list > * {
        flex: 1 1 45%;
        box-sizing: border-box;
    }

    #new-game-panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: var(--spacing-sm);
    }

    .error-message {
        top: 0;
    }

    .setup-section {
        width: 100%;
    }

    .setup-section .selected-players-wrapper {
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: center;   
    }

    .player-list, .selected-players, .advanced-stats {
        width: 100%;
    }

    .game-in-progress {
        width: 80%;
    }

    .paused-game-item{
        width: 50%;
    }

    .import-export-buttons {
        justify-content: center;
        text-align: center;
        width: 50%;
    }

    .settings-button {
        width: 100%;
        max-width: 200px;
        justify-content: center;
        margin: 0 auto;
    }

    .new-game-actions {
        width: 40%;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* New Games Page */
    .new-game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .tab-controls {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: var(--spacing-md);
        width: 100%;
    }    

    /* Game in Progress */
    .player-row {
        padding: 0; 
    }

    /* .score-table th,
    .score-table td {
        padding-top: 0;
        padding-bottom: 0;
    } */
}
